* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    background-color: #fafafa;
    font-family: "Roboto", serif;
}

.map-wrap {
    height: 45vh;
    padding: 0;
}

#map {
    height: calc(100% - 50px);
}

.main-title {
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(70, 208, 252, 0.9416141456582633) 100%);
    padding: 20px;
    color: #fff;
    margin: 0;
}

.pharmacy-list {
    padding: 15px 0;
    background-color: #fafafa;
    max-height: 35vh;
}

.pharmacy-wrap {
    height: calc(55vh - 88px);
    max-height: calc(100vh - 88px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    padding-bottom: 20px;
}

.pharmacy-wrap::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.select-item {
    border-radius: 8px;
    padding: 1rem;
    margin: 10px auto 0 auto;
    display: flex;
    flex-direction: column;
    transition: background-color .3s;
    cursor: pointer;
}

.pharmacy-item {
    border-radius: 8px;
    padding: 10px 1rem;
    margin: 10px 0;
    display: flex;
    background: #fff;
    flex-direction: column;
    box-shadow: 0 1px 6px rgba(32, 33, 36, .2);
    transition: background-color .3s;
}

.pharmacy-item:hover,
.pharmacy-item.active {
    background: #0d8eff40;
}

.pharmacy-name {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 0;
}
.pharmacy-address {
    margin-bottom: 2px;
}

.pharmacy-phone,
.pharmacy-location {
    color: #000;
    text-decoration: none;
    display: flex;
    column-gap: 10px;
    align-items: center;
    transition: color .3s;
    width: fit-content;
    margin-bottom: 2px;
    cursor: pointer;
}

.pharmacy-phone:hover,
.pharmacy-location:hover {
    color: #107ACBFF;
}

.city-select {
    padding: 10px;
    cursor: pointer;
}

.city-select option {
    cursor: pointer;
}

ul.chosen-results li {
    position: relative;
}

.ss-option::before {
    content: attr(data-region);
    position: absolute;
    right: 20px;
    font-size: .8rem;
}

@media screen and (min-width: 992px) {
    #map {
        height: 100%;
    }
    .map-wrap {
        height: calc(100vh - 88px);
    }
    .pharmacy-wrap {
        height: calc(100vh - 88px);
        max-height: calc(100vh - 88px);
    }
    .pharmacy-list {
        padding: 25px 0;
        background-color: #fafafa;
        height: 100%;
    }
}